<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<img src="{{ "/assets/images/icons/mail.png" | prepend: site.baseurl }}">
		</section>
		<!-- <section class="contact">
			<h2>License</h2>
			<p class="rouge-first"><a target="_blank" title="CC BY-NC 4.0" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
			</p>
		</section> -->
		<!-- <section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section> -->
	</div>
</footer>
