<header class="header">

	<div class="container blackhead">
		{% if page.layout == "post" or page.title == "Links" %}
		<a href="{{ site.baseurl | append: "/" }}" class="bigger">
			<img class="previous" src="{{ site.baseurl | append: "/" }}assets/images/previousgris.png" alt="previous">
		</a>
		{% endif %}
		<h1 class="logo">
			{% if page.title == "Links" %}
			<!-- <a title="{{ site.author }}" class="gris" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">links</a> -->
			<a title="{{ site.author }}" class="black" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">Links</a>
			{% else %}
			<!-- <a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">links</a> -->
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a><span class="black"> | </span><a class="rouge" title="{{ site.author }}" href="{{ site.baseurl | append: "/links.html" }}">Links</a>
			{% endif %}
		</h1>
	</div>
</header>